<?php
/** Example System Configuration
*
* Copyright (C) 2012 B Tasker
* Released under GNU GPL V2
* See LICENSE
*
*/
defined('_CREDLOCK') or die;

// Redirect non SSL connections to a SSL one?
$conf->forceSSL = false;

//URL for SSL connections
$conf->SSLURL = '';

// Template Name
$conf->template = 'EstDeus';

// Application Name
$conf->ProgName = 'PHPCredLocker';

// Set the DB details
$conf->dbname = "VirCreds";
$conf->dbserver = "localhost";
$conf->dbuser = "root";
$conf->dbpass = "Password12";

// Session expiry time (minutes)
$conf->sessionexpiry = 15;

// Time in seconds to display credentials for
$conf->CredDisplay = 30;

// Display SQL errors?
$conf->showDBErrors = 1;

// Set this to false to disabled the internal logging (logging plugins will still run if they are active)
$conf->loggingenabled = true;

// The minimum password strength range
$conf->minpassStrength = '34-45';


// Required password for cronjobs
$conf->cronPass = 'P455w0rd';



// Number of permitted attempts before user is banned
$conf->banThresh = 4;

// Number of hours to be examined when deciding whether to ban an IP
$conf->banProximity = 24;

// Time in hours to block the IP for
$conf->banLength = 24;
?>