#Sidebar {float: right; padding-right: 80px;} 
.settings-menu {float: right;}
.pluginDetails {font-size: smaller;}
#FFContainer {height: 100%;}
#contentArea {min-height: 100%; position: relative; background-color: #333399; padding: 0px; padding-bottom: 50px;}
#ContentWrap {width: 50%; margin: auto; background-color: white; border-radius: 5px; padding: 20px; box-shadow: 3px 3px #ccc; min-height: 70%; }
.navbar {margin-bottom: 0px !important;}
.BreadCrumbs {width: 50%; margin: auto;}
.NotificationArea {width: 50%; margin: auto;}
.login-module {background-color: white; border-radius: 5px; padding: 20px; box-shadow: 3px 3px #ccc; margin-left: 20px; width: 70%;}
#mod_login input[type="text"], input[type="password"] {width: 100px;}
#Sidebar {width: 18%;}
#PluginReadme h3 {margin-top: 50px;}
#PluginReadme {margin-bottom: 20px;}
td.editicon {width:2%;}
td.delicon {width:2%;}

#groupsMultiSelect input[type="checkbox"] {float: none; margin-left: 20px;}


.frmEntryMissed {border: 1px red solid !important;}


.strongPass {color: Green;}
.strongerPass {color: Green;}
.mediocrePass {color: orange;}
.weakPass {color: red;}
.veryweakPass {color: red;}


.passViewNotif {font-size: small;}

#SearchResBox {position: absolute; z-index: 9999; background-color: white; border: 1px solid; padding: 0px;}
.SearchResult {padding-left: 2px; padding-right: 2px;}
.SearchResult:hover {background-color: grey; color: white}